.container {
  display: flex;
  padding: 3rem 2rem;
}

.container :global(#svgLogo) {
  width: 48vw;
}

.backBtn {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.resetContainer {
  width: 45vw;
  background: rgba(254, 196, 161, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  height: 95vh;
  padding: 3rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.resetContainer h6 {
  padding: 0 2rem;
  margin-top: 1rem;
}

.description {
  text-align: justify;
  padding: 0 2rem;
}

.description span {
  display: block;
}
.description span:first-child {
  margin-top: 1rem;
}
.description span:last-child {
  margin-bottom: 1rem;
}

.code {
  --ReactInputVerificationCode-itemWidth: 2.5rem;
  --ReactInputVerificationCode-itemHeight: 2.5rem;
  margin: 1rem 2rem;
}

.code div {
  border-radius: 10px;
}

.textBtn {
  padding: 0;
  margin: 0 0 0 0.2rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.textBtn:hover {
  text-decoration: underline;
}
